* {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  * {
    overflow-x: hidden;
  }
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  * {
    overflow-x: hidden;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  * {
    overflow-x: hidden;
  }
}

/* navbar style  */
.topheader {
  background: url("./assets/div.hero-center.png") 50% 50% no-repeat;
  background-size: cover;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .topheader {
    background: url("./assets/div.hero-center.png") 100% 100% no-repeat;
    background-size: 100% 100%;
    width: 100%;
  }
}
.topheader .navbar {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  align-items: center;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .topheader .navbar {
    width: 100%;
  }
}
.topheader .navbar .left {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .topheader .navbar .left .lego {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.topheader .navbar .left .lego img {
  cursor: pointer;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .topheader .navbar .left .lego img {
    width: 3rem;
  }
}
.topheader .navbar .left .centerElement {
  display: flex;
  gap: 40px;
  font-family: "Inter";
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .topheader .navbar .left .centerElement {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
.topheader .navbar .left .centerElement span {
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .topheader .navbar .left .centerElement span {
    font-size: 8px;
  }
}
.topheader .navbar .right {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .topheader .navbar .right {
    display: flex;
    margin-right: 1.6rem;
  }
}
.topheader .navbar .right .loginbtn button {
  border: none;
  background: #013665;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  padding: 0.5rem;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .topheader .navbar .right .loginbtn button {
    font-weight: 200;
    font-size: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.topheader .navbar .right .signupbtn button {
  padding: 0.5rem;
  width: 9rem;
  border-radius: 5px;
  border: 1px solid #111;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  font-weight: bold;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .topheader .navbar .right .signupbtn button {
    width: 4rem;
    font-weight: 200;
    font-size: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.topheader .navbar .right .signupbtn button i {
  font-size: 10px;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .topheader .navbar .right .signupbtn button i {
    font-size: 7px;
  }
}
.topheader .header {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .topheader .header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 15px;
  }
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .topheader .header .left {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .topheader .header .left {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
.topheader .header .left h1 {
  font-style: normal;
  font-family: "Lora";
  font-weight: 700;
  font-size: 65px;
  line-height: 83px;
  color: #1D1D1D;
  overflow: hidden;
  width: 503px;
  height: 249px;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .topheader .header .left h1 {
    font-size: 30px;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .topheader .header .left h1 {
    font-size: 15px;
    width: 100%;
  }
}
.topheader .header .left h1 small {
  color: rgb(41, 97, 181);
}
.topheader .header .left span {
  font-family: "Gill Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: rgba(0, 0, 0, 0.6);
  width: 375px;
  height: 33px;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .topheader .header .left span {
    font-size: 11px;
  }
}
.topheader .header .left .loginbtn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0.5rem;
}
.topheader .header .left .loginbtn button {
  font-family: "Gill Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  background: #013665;
  border-radius: 8px;
  color: #FFFFFF;
  width: 189px;
  height: 56px;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .topheader .header .left .loginbtn button {
    font-size: 10px;
    padding: 0.2rem;
    width: 5rem;
  }
}
.topheader .header .right img {
  width: 90%;
  height: 100%;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .topheader .header .right img {
    width: 23rem;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .topheader .header .right img {
    height: 9rem;
  }
}

.main {
  display: flex;
  justify-content: space-around;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .main {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
}
.main .left {
  width: 50%;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .main .left {
    width: 70%;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .main .left {
    width: 100% !important;
  }
}
.main .left .leftCentent {
  padding: 4rem;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .main .left .leftCentent {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .main .left .leftCentent {
    width: 80% !important;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  .main .left .leftCentent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
.main .left .leftCentent .topElement span {
  font-family: "Gill Sans", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #013665;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .main .left .leftCentent .topElement span {
    font-size: 10px;
  }
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .main .left .leftCentent .topElement span {
    font-size: 14px;
  }
}
.main .left .leftCentent .topElement h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 34.875px;
  line-height: 45px;
  /* identical to box height, or 129% */
  display: flex;
  align-items: center;
  color: #000000;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .main .left .leftCentent .topElement h2 {
    font-size: 13px !important;
  }
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .main .left .leftCentent .topElement h2 {
    font-size: 20px !important;
    font-weight: 500;
  }
}
.main .left .leftCentent .topElement p {
  font-family: "Gill Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19.3594px;
  line-height: 32px;
  /* or 163% */
  display: flex;
  align-items: center;
  width: 571px;
  height: 73px;
  color: #000000;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .main .left .leftCentent .topElement p {
    font-size: 12px;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .main .left .leftCentent .topElement p {
    font-weight: 300;
    font-size: 12px !important;
  }
}
.main .left .leftCentent .Element {
  padding: 1rem;
}
.main .left .leftCentent .Element ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .main .left .leftCentent .Element ul {
    width: 100% !important;
  }
}
.main .left .leftCentent .Element ul li {
  list-style: none;
  font-family: "Gill Sans", sans-serif;
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 10px;
}
.main .left .leftCentent .Element ul li .listTop {
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 10px;
}
.main .left .leftCentent .Element ul li .listTop i {
  background: rgba(100, 65, 226, 0.1);
  color: #6441E2;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  border: 1.5px solid #6441E2;
}
.main .left .leftCentent .Element ul li .listTop h1 {
  font-family: "Gill Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20.0156px;
  line-height: 32px;
  width: 398.08px;
  height: 31.5px;
  display: flex;
  align-items: center;
  color: #000000;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .main .left .leftCentent .Element ul li .listTop h1 {
    font-size: 10px;
  }
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .main .left .leftCentent .Element ul li .listTop h1 {
    font-size: 12px !important;
    font-weight: 500;
  }
}
.main .left .leftCentent .Element ul li p {
  font-family: "Gill Sans", sans-serif;
  padding-left: 2rem;
  font-style: normal;
  font-weight: 400;
  font-size: 16.7344px;
  line-height: 27px;
  display: flex;
  align-items: center;
  width: 494.48px;
  height: 77px;
  color: #000000;
  overflow: hidden;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .main .left .leftCentent .Element ul li p {
    font-size: 11px !important;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .main .left .leftCentent .Element ul li p {
    font-weight: 300;
    font-size: 10px !important;
  }
}
.main .right {
  width: 50%;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .main .right {
    width: 60%;
    height: 100%;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .main .right {
    width: 100%;
  }
}
.main .right .rightCentenet {
  padding: 1rem;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .main .right .rightCentenet {
    width: 100%;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .main .right .rightCentenet {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  .main .right .rightCentenet {
    display: flex;
    justify-content: center;
  }
}
.main .right .rightCentenet img {
  width: 80%;
  padding: 1rem;
  height: 50%;
  object-fit: cover;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .main .right .rightCentenet img {
    width: 90%;
    height: 90%;
  }
}

.Commitments {
  background: url("./assets/Our Commitments.png") 50% 50% no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  height: 45vh;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .Commitments {
    background-size: 100%;
    background-repeat: no-repeat;
    height: 33vh;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .Commitments {
    background: url("./assets/Our Commitments.png") 100% 50% no-repeat;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100% !important;
  }
}

.inner-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.inner-wrap .centent {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.7rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 16px;
  background: #F7F8FC;
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  .inner-wrap .centent {
    width: 60%;
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .inner-wrap .centent {
    width: 100%;
  }
}
.inner-wrap .centent span {
  font-family: "Gill Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  display: flex;
  align-items: center;
  color: #000000;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .inner-wrap .centent span {
    font-size: 10px;
    font-weight: 200;
  }
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  .inner-wrap .centent span {
    font-size: 17px;
  }
}
.inner-wrap .centent button {
  background: #013665;
  border-radius: 4.95px;
  color: #fff;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-family: "Gill Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .inner-wrap .centent button {
    font-size: 9px;
    padding: 5px;
    font-weight: 200;
  }
}

.section_break {
  background: url("./assets/sectionbreak_brandsafety.svg fill.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 36vh;
  width: 100%;
  background-color: #6B256D;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .section_break {
    background: url("./assets/sectionbreak_brandsafety.svg fill.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 36vh;
    width: 100%;
    background-color: #6B256D;
    overflow: hidden;
    font-weight: 200;
  }
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  .section_break {
    height: 30rem;
    overflow: hidden;
    background-size: cover;
  }
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .section_break {
    height: 28vh;
  }
}
.section_break .cententbreak {
  padding: 1rem;
  padding-left: 10rem !important;
  width: 50%;
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  .section_break .cententbreak {
    padding: 2rem;
  }
}
.section_break .cententbreak h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 34.875px;
  line-height: 45px;
  /* identical to box height, or 129% */
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.section_break .cententbreak ul {
  padding: 1rem;
  display: flex;
  margin-left: 3rem;
  flex-direction: column;
  gap: 20px;
  list-style: inside !important;
}
.section_break .cententbreak ul li {
  width: 390.36px;
  height: 34px;
  overflow: hidden;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18.0469px;
  line-height: 32px;
  color: #FFFFFF;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #FFFFFF;
}
.solution {
  background: #013665;
  color: #FFFFFF;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
}
.solution .left {
  display: flex;
  align-items: center;
}
.solution .left .leftCentent {
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 100%;
}
.solution .left .leftCentent h4 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 34.875px;
  line-height: 45px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}
.solution .left .leftCentent .textsolution span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18.0469px;
  line-height: 32px;
  /* or 175% */
  display: flex;
  align-items: center;
  width: 538px;
  height: 63px;
  overflow: hidden;
  color: #FFFFFF;
}
.solution .left .leftCentent ul {
  padding-left: 2rem;
  list-style: inside;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 5px;
}
.solution .left .leftCentent ul li {
  height: 65px;
  overflow: hidden;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18.0469px;
  line-height: 32px;
  text-align: center;
}
.solution .right .rightCentent {
  height: 100%;
  overflow: hidden;
}
.solution .right .rightCentent img {
  width: 100%;
  height: 100%;
}

.revenue {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .revenue {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .revenue {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.revenue .revenue_left {
  margin-top: 4rem;
  padding-left: 2rem;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .revenue .revenue_left {
    width: 100%;
  }
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .revenue .revenue_left {
    width: 60%;
  }
}
.revenue .revenue_left h2 {
  width: 447px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex-direction: column;
  height: 108px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 36.875px;
  line-height: 45px;
  color: #1D1D1D;
}
.revenue .revenue_left h2 span {
  color: #013665;
}
.revenue .revenue_left .revenuetext {
  margin-top: 1rem;
  width: 470px;
  overflow: hidden;
  padding: 0.5rem;
}
.revenue .revenue_left .revenuetext span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 22px !important;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .revenue .revenue_left .revenuetext span {
    font-size: 15px !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  .revenue .revenue_left .revenuetext span {
    font-size: 15px;
  }
}
.revenue .revenue_right {
  margin-top: 4rem;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .revenue .revenue_right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.revenue .revenue_right img {
  width: 100% !important;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .revenue .revenue_right img {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  .revenue .revenue_right img {
    background-color: crimson;
    width: 22rem;
  }
}

.rowsection {
  background: #EEF0F6;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .rowsection {
    display: flex;
    justify-content: center;
  }
}
.rowsection h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px !important;
  line-height: 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #161616;
  margin-bottom: 1rem;
}
.rowsection .elements {
  display: flex;
  gap: 20px;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .rowsection .elements {
    display: flex;
    gap: 5px;
  }
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .rowsection .elements {
    display: flex;
    gap: 5px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  .rowsection .elements {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
}
.rowsection .elements img {
  width: 70% !important;
  cursor: pointer;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .rowsection .elements img {
    width: 3rem;
  }
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .rowsection .elements img {
    width: 5rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  .rowsection .elements img {
    width: 5rem;
  }
}

.homProduct {
  display: flex;
  margin-top: 2rem;
  gap: 30px;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .homProduct {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
}
.homProduct .homeLeft {
  width: 60%;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .homProduct .homeLeft {
    width: 75%;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .homProduct .homeLeft {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.homProduct .homeLeft img {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .homProduct .homeLeft img {
    width: 97%;
    height: auto;
  }
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  .homProduct .homeLeft img {
    height: auto;
  }
}
.homProduct .homeRight {
  width: 25%;
  margin-top: 2rem;
  margin-left: 3rem;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .homProduct .homeRight {
    width: 50%;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .homProduct .homeRight {
    width: 100%;
    margin-top: 1rem;
  }
}
.homProduct .homeRight h2 {
  width: 447px;
  height: 108px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 36.875px;
  line-height: 45px;
  color: #1D1D1D;
}
.homProduct .homeRight h2 span {
  color: #013665;
}
.homProduct .homeRight .items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.homProduct .homeRight .items .item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.homProduct .homeRight .items .item h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  color: #000000;
}
.homProduct .homeRight .items .item p {
  width: 287px;
  height: 76px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13.867px;
  line-height: 19px;
  color: rgba(0, 0, 0, 0.6);
}

.help {
  background-color: rgb(174, 221, 239);
  padding: 2rem;
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  .help {
    padding: 3rem;
  }
}
.help .helpCentent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .help .helpCentent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.help .helpCentent .helpLeft {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .help .helpCentent .helpLeft {
    width: 100%;
  }
}
.help .helpCentent .helpLeft .item {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #d4d3d3;
  border-bottom: 2px solid #d4d3d3;
}
.help .helpCentent .helpLeft .item span {
  width: 322px;
  height: 36px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .help .helpCentent .helpLeft .item span {
    font-size: 13px !important;
  }
}
.help .helpCentent .helpLeft .item .iconPlus {
  background-color: #013665;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.help .helpCentent .helpLeft .item .iconPlus i {
  font-size: 9px;
  color: #fff;
}
.help .helpCentent .helpLeft .item1,
.help .helpCentent .helpLeft .item2 {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #d4d3d3;
}
.help .helpCentent .helpLeft .item1 span,
.help .helpCentent .helpLeft .item2 span {
  width: 322px;
  height: 36px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
  overflow: hidden;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .help .helpCentent .helpLeft .item1 span,
  .help .helpCentent .helpLeft .item2 span {
    font-size: 13px !important;
  }
}
.help .helpCentent .helpLeft .item1 .iconPlus,
.help .helpCentent .helpLeft .item2 .iconPlus {
  background-color: #333f7f;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.help .helpCentent .helpLeft .item1 .iconPlus i,
.help .helpCentent .helpLeft .item2 .iconPlus i {
  font-size: 9px;
  color: #fff;
}
.help .helpCentent .helpRight {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 2rem;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .help .helpCentent .helpRight {
    width: 100%;
  }
}
.help .helpCentent .helpRight h3 {
  width: 487px;
  height: 108px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  text-transform: capitalize;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .help .helpCentent .helpRight h3 {
    font-size: 13px !important;
  }
}
.help .helpCentent .helpRight h3 span {
  color: #333f7f;
}
.help .helpCentent .helpRight p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.6);
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .help .helpCentent .helpRight p {
    font-size: 13px !important;
  }
}
.help .helpCentent .helpRight .search {
  display: flex;
  gap: 20px;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .help .helpCentent .helpRight .search {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    width: 100%;
    flex-direction: column;
  }
}
.help .helpCentent .helpRight .search input {
  border-radius: 10px;
  border: none;
  padding: 0.2rem;
  width: 70%;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .help .helpCentent .helpRight .search input {
    width: 100%;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .help .helpCentent .helpRight .search input {
    height: 2rem;
    width: 85%;
  }
}
.help .helpCentent .helpRight .search input:focus {
  outline: none;
}
.help .helpCentent .helpRight .search button {
  background: #013665;
  color: #fff;
  border: none;
  padding: 1rem;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Inter";
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .help .helpCentent .helpRight .search button {
    font-size: 12px;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
  }
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .help .helpCentent .helpRight .search button {
    width: 40%;
  }
}

.groupsection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .groupsection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.groupsection .left {
  width: 50%;
  padding: 1rem;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .groupsection .left {
    width: 60%;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .groupsection .left {
    width: 100%;
  }
}
.groupsection .left .leftCentent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1rem;
  width: 100%;
  height: 100%;
}
.groupsection .left .leftCentent img {
  width: 100%;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .groupsection .left .leftCentent {
    width: 100% !important;
    height: 100%;
    overflow: hidden;
  }
}
.groupsection .right {
  width: 50%;
  padding: 2rem;
  margin-left: 5rem;
  height: auto;
  display: flex;
  gap: 30px;
  flex-direction: column;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .groupsection .right {
    width: 100%;
    margin-left: 1rem;
  }
}
.groupsection .right .textTitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 54px;
  text-transform: capitalize;
  color: #000000;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .groupsection .right .textTitle {
    font-size: 13px !important;
    width: 100%;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .groupsection .right .textTitle {
    width: 100%;
    font-size: 12px;
  }
}
.groupsection .right .textCenter {
  display: flex;
  gap: 20px;
  flex-direction: column;
  font-size: 19px !important;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .groupsection .right .textCenter {
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-size: 12px;
  }
}
.groupsection .right .textCenter .reting {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.groupsection .right .textCenter .reting span {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  color: #000000;
  width: 297px;
  height: 31px;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .groupsection .right .textCenter .reting span {
    font-size: 12px;
  }
}
.groupsection .right .textCenter .reting .startIcons i {
  color: #FACC07;
}
.groupsection .right .textCenter .textDesc {
  width: 614px;
  height: 81px;
  padding: 0.4rem;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .groupsection .right .textCenter .textDesc {
    width: 100%;
  }
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .groupsection .right .textCenter .textDesc {
    width: 100%;
  }
}
.groupsection .right .textCenter .textDesc span {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Inter";
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .groupsection .right .textCenter .textDesc span {
    font-size: 10px;
  }
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .groupsection .right .textCenter .textDesc span {
    font-size: 12px !important;
  }
}
.groupsection .right .bottomSlide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .groupsection .right .bottomSlide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -1rem;
  }
}
.groupsection .right .bottomSlide .bottomSlideleft {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .groupsection .right .bottomSlide .bottomSlideleft {
    width: 100% !important;
    overflow: hidden;
    display: flex;
    gap: 5px;
  }
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .groupsection .right .bottomSlide .bottomSlideleft img {
    width: 4rem;
    height: 3rem;
    object-fit: fill;
  }
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .groupsection .right .bottomSlide .bottomSlideleft .textElment {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
.groupsection .right .bottomSlide .bottomSlideleft .textElment h2 {
  font-family: "Inter";
  font-size: 13px;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .groupsection .right .bottomSlide .bottomSlideleft .textElment h2 {
    font-size: 9px;
  }
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .groupsection .right .bottomSlide .bottomSlideleft .textElment h2 {
    font-size: 10px;
  }
}
.groupsection .right .bottomSlide .bottomSlideleft .textElment span {
  font-family: "Inter";
  font-size: 13px !important;
  color: #808080;
}
.groupsection .right .bottomSlide .bottomSlideright {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .groupsection .right .bottomSlide .bottomSlideright {
    gap: 10px;
  }
}
.groupsection .right .bottomSlide .bottomSlideright i {
  background: rgba(196, 196, 196, 0.3);
  padding: 0.3rem;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .groupsection .right .bottomSlide .bottomSlideright i {
    font-size: 9px;
    display: flex;
    width: 0.8rem;
    height: 0.8rem;
  }
}

.footer {
  background-color: #FAFAFA;
  padding: 2rem;
}
.footer .items .itemTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .items .itemTop .title h2 {
  width: 110px;
  height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
}
.footer .items .itemButtom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.footer .items .itemButtom .desc {
  width: 25%;
}
.footer .items .itemButtom .desc .title {
  margin-bottom: 1rem;
}
.footer .items .itemButtom .desc .title h2 {
  width: 110px;
  height: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000000;
}
.footer .items .itemButtom .desc .element {
  display: flex;
  flex-direction: column;
}
.footer .items .itemButtom .desc .element span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 0.6rem;
  color: rgba(0, 0, 0, 0.5);
}
.footer .items .itemButtom .desc .element p {
  font-family: "Inter";
  width: 15rem;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  margin-bottom: 0.6rem;
  color: rgba(0, 0, 0, 0.5);
}

/*# sourceMappingURL=style.css.map */
