@import "./media_query";

* {
	margin: 0;
	padding: 0;

	@include tablet {
		overflow-x: hidden;
	}

	@include sm-desktop {
		overflow-x: hidden;
	}

	@include phone {
		overflow-x: hidden;
	}
}

body {}

/* navbar style  */



.topheader {
	background: url('./assets/div.hero-center.png') 50% 50% no-repeat;
	background-size: cover;
	height: 76vh;

	@include phone {
		background: url('./assets/div.hero-center.png') 100% 100% no-repeat;
		background-size: 100% 100%;
		width: 100%;
	}



	.navbar {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1rem;

		.navbarCentent {
			width: 80%;
			display: flex;
			align-items: center;
			justify-content: space-between;

			.left {
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 30px;

				.centerElement {
					display: flex;
					align-items: center;
					justify-content: space-between;
					gap: 40px;
					margin-left: 1rem;

					span {

						font-family: 'Inter';
						font-style: normal;
						font-weight: 500;
						font-size: 16px;
						line-height: 20px;
						display: flex;
						align-items: center;
						cursor: pointer;
						color: #000000;

						text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.07);
					}
				}

			}

			.right {
				display: flex;
				align-items: center;
				gap: 20px;

				@include phone {
					display: flex;
					margin-right: 1.6rem;

				}



				.loginbtn {



					button {
						display: flex;
						flex-direction: row;
						justify-content: center;
						align-items: center;
						padding: 12.9047px 32.2618px;
						gap: 8.07px;
						width: 103px;
						height: 48px;
						color: #FFFFFF;
						background: #013665;
						border-radius: 6px;
						border: none;
						cursor: pointer;

						@include phone {
							font-weight: 200;
							font-size: 7px;
							display: flex;
							align-items: center;
							justify-content: center;
						}
					}
				}

				.signupbtn {
					button {
						box-sizing: border-box;

						display: flex;
						flex-direction: row;
						justify-content: center;
						align-items: center;
						padding: 12.9047px 19.3571px;
						gap: 8.07px;
						cursor: pointer;
						width: 183px;
						height: 48px;

						border: 1px solid #013665;
						border-radius: 6px;

						@include phone {
							width: 4rem;
							font-weight: 200;
							font-size: 7px;
							display: flex;
							align-items: center;
							justify-content: center;
						}

						i {
							font-size: 10px;

							@include phone {
								font-size: 7px;
							}
						}
					}
				}
			}
		}




	}

	// header style

	.header {
		height: 50vh;
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: 1rem;

		@include phone {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column-reverse;
			gap: 15px;
		}

		.left {


			@include tablet {
				display: flex;
				justify-content: center;
				flex-direction: column;
			}

			@include phone {
				display: flex;
				flex-direction: column;
				gap: 5px;
			}

			h1 {
				font-style: normal;
				font-family: 'Lora';
				font-weight: 800;
				font-size: 73px !important;
				line-height: 90px;
				color: #1D1D1D;
				overflow: hidden;
				width: 550px;
				height: 264px;

				@include tablet {
					font-size: 30px;
				}

				@include phone {
					font-size: 15px;
					width: 100%;
				}

				small {
					color: rgb(41, 97, 181);
				}
			}

			span {
				font-family: 'Inter';
				font-style: normal;
				font-weight: 400;
				font-size: 20px;
				line-height: 33px;
				color: rgba(0, 0, 0, 0.6);
				width: 375px;
				height: 33px;

				@include phone {
					font-size: 11px;
				}
			}

			.loginbtn {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				margin-top: 0.5rem;

				button {
					font-family: "Gill Sans", sans-serif;
					font-style: normal;
					font-weight: 600;
					font-size: 16px;
					line-height: 24px;
					background: #013665;
					border-radius: 8px;
					color: #FFFFFF;
					width: 189px;
					height: 56px;
					border: none;
					cursor: pointer;

					@include phone {
						font-size: 10px;
						padding: 0.2rem;
						width: 5rem;
					}
				}
			}
		}

		.right {

			@include tablet {}

			img {
				width: 97% !important;
				height: 100% !important;

				@include tablet {
					width: 23rem;
				}

				@include phone {
					height: 9rem;
				}
			}
		}
	}

}

// main style

.main {
	display: flex;
	justify-content: space-around;


	@include tablet {
		display: flex;
		align-items: center;
		justify-content: space-between;

	}

	@include phone {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column-reverse;
	}

	.left {
		width: 50%;

		@include tablet {
			width: 70%;
		}

		@include phone {
			width: 100% !important;
		}

		.leftCentent {
			padding: 4rem;
			display: flex;
			justify-content: center;

			@include phone {
				display: flex;
				flex-direction: column;
			}

			@include tablet {
				width: 80% !important;
				display: flex;
				flex-direction: column;
			}

			@include sm-desktop {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
			}

			.topElement {


				span {
					font-family: "Gill Sans", sans-serif;
					font-style: normal;
					font-weight: 800;
					font-size: 14px;
					line-height: 21px;
					display: flex;
					align-items: center;
					letter-spacing: 1px;
					text-transform: uppercase;
					color: #013665;

					@include phone {
						font-size: 10px;
					}

					@include tablet {
						font-size: 14px;
					}


				}

				h2 {
					font-family: 'Inter';
					font-style: normal;
					font-weight: 800;
					font-size: 34.875px;
					line-height: 45px;
					/* identical to box height, or 129% */
					display: flex;
					align-items: center;

					color: #000000;

					@include phone {
						font-size: 13px !important;
					}

					@include tablet {
						font-size: 20px !important;
						font-weight: 500;
					}


				}

				p {
					font-family: "Gill Sans", sans-serif;
					font-style: normal;
					font-weight: 400;
					font-size: 19.3594px;
					line-height: 32px;
					/* or 163% */
					display: flex;
					align-items: center;
					width: 571px;
					height: 73px;
					color: #000000;

					@include tablet {
						font-size: 12px;
					}

					@include phone {
						font-weight: 300;
						font-size: 12px !important;
					}
				}
			}

			.Element {
				padding: 1rem;

				ul {
					display: flex;
					flex-direction: column;
					gap: 20px;

					@include phone {
						width: 100% !important;
					}

					li {
						list-style: none;
						font-family: "Gill Sans", sans-serif;
						display: flex;
						flex-direction: column;
						height: auto;
						gap: 10px;

						.listTop {

							display: flex;
							align-items: center;
							font-size: 16px;
							gap: 10px;



							i {
								background: rgba(100, 65, 226, 0.1);
								color: #6441E2;
								width: 1rem;
								height: 1rem;
								border-radius: 50%;
								display: flex;
								align-items: center;
								justify-content: center;
								font-size: 9px;
								border: 1.5px solid #6441E2;
							}

							h1 {
								font-family: "Gill Sans", sans-serif;
								font-style: normal;
								font-weight: 700;
								font-size: 20.0156px;
								line-height: 32px;
								width: 398.08px;
								height: 31.5px;
								display: flex;
								align-items: center;
								color: #000000;

								@include phone {
									font-size: 10px;
								}

								@include tablet {
									font-size: 12px !important;
									font-weight: 500;
								}
							}
						}

						p {
							font-family: "Gill Sans", sans-serif;
							padding-left: 2rem;
							font-style: normal;
							font-weight: 400;
							font-size: 16.7344px;
							line-height: 27px;
							display: flex;
							align-items: center;
							width: 494.48px;
							height: 77px;
							color: #000000;
							overflow: hidden;

							@include tablet {
								font-size: 11px !important;
							}

							@include phone {
								font-weight: 300;
								font-size: 10px !important;
							}
						}
					}
				}
			}
		}
	}

	.right {
		width: 50%;

		@include tablet {
			width: 60%;
			height: 100%;
		}

		@include phone {
			width: 100%;

		}

		.rightCentenet {
			padding: 1rem;

			@include tablet {
				width: 100%;
			}

			@include phone {
				display: flex;
				align-items: center;
				justify-content: center;
			}

			@include sm-desktop {
				display: flex;
				justify-content: center;
			}

			img {
				width: 80%;
				padding: 1rem;
				height: 50%;
				object-fit: cover;

				@include tablet {
					width: 90%;
					height: 90%;
				}
			}
		}
	}
}

// Our Commitments style

.Commitments {
	background: url('./assets/Our Commitments.png') 50% 50% no-repeat;
	background-size: cover;
	background-repeat: no-repeat;
	height: 45vh;

	@include tablet {
		// background: url('./assets/Our Commitments.png') 100% 90% no-repeat;
		background-size: 100%;
		background-repeat: no-repeat;
		height: 33vh;
	}

	@include phone {
		background: url('./assets/Our Commitments.png') 100% 50% no-repeat;
		background-size: 100%;
		background-repeat: no-repeat;
		width: 100% !important;
	}
}

//   inner-wrap style

.inner-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2rem;

	.centent {
		display: flex;
		align-items: center;
		gap: 10px;
		padding: 0.7rem;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
		border-radius: 16px;
		background: #F7F8FC;

		@include sm-desktop {
			width: 60%;
			display: flex;
			justify-content: space-between;
		}

		@include phone {
			width: 100%;
		}

		span {
			font-family: "Gill Sans", sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: 22px;
			line-height: 33px;
			display: flex;
			align-items: center;

			color: #000000;

			@include phone {
				font-size: 10px;
				font-weight: 200;
			}

			@include sm-desktop {
				font-size: 17px;
			}
		}

		button {
			background: #013665;
			border-radius: 4.95px;
			color: #fff;
			border: none;
			padding: 1rem;
			cursor: pointer;
			font-family: "Gill Sans", sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;

			@include phone {
				font-size: 9px;
				padding: 5px;
				font-weight: 200;
			}
		}
	}
}


// section break style

.section_break {
	background: url('./assets/sectionbreak_brandsafety.svg\ fill.png');
	background-size: cover;
	background-repeat: no-repeat;
	height: 36vh;
	width: 100%;
	background-color: #6B256D;

	@include tablet {}

	@include phone {
		background: url('./assets/sectionbreak_brandsafety.svg\ fill.png');
		background-size: cover;
		background-repeat: no-repeat;
		height: 36vh;
		width: 100%;
		background-color: #6B256D;
		overflow: hidden;
		font-weight: 200;
	}

	@include sm-desktop {
		height: 30rem;
		overflow: hidden;
		background-size: cover;
	}

	@include tablet {
		height: 28vh;
	}

	.cententbreak {
		padding: 1rem;
		padding-left: 10rem !important;
		width: 50%;

		@include sm-desktop {
			padding: 2rem;
		}

		h3 {
			font-family: 'Inter';
			font-style: normal;
			font-weight: 800;
			font-size: 34.875px;
			line-height: 45px;
			/* identical to box height, or 129% */
			display: flex;
			align-items: center;

			color: #FFFFFF;

			@include tablet {}


		}

		ul {
			padding: 1rem;
			display: flex;
			margin-left: 3rem;
			flex-direction: column;
			gap: 20px;
			list-style: inside !important;

			li {
				width: 390.36px;
				height: 34px;
				overflow: hidden;
				font-family: 'Inter';
				font-style: normal;
				font-weight: 400;
				font-size: 18.0469px;
				line-height: 32px;

				color: #FFFFFF;


				/* Inside auto layout */
				flex: none;
				order: 0;
				flex-grow: 0;

				color: #FFFFFF;

				@include tablet {}

				@include phone {}
			}
		}
	}
}

// solution style

.solution {
	background: #013665;
	color: #FFFFFF;
	display: flex;
	justify-content: space-around;
	padding: 2rem;

	.left {
		display: flex;
		align-items: center;

		.leftCentent {
			display: flex;
			flex-direction: column;
			gap: 25px;
			height: 100%;

			h4 {
				font-family: 'Inter';
				font-style: normal;
				font-weight: 800;
				font-size: 34.875px;
				line-height: 45px;
				display: flex;
				align-items: center;

				color: #FFFFFF;

			}

			.textsolution {
				span {
					font-family: 'Inter';
					font-style: normal;
					font-weight: 400;
					font-size: 18.0469px;
					line-height: 32px;
					/* or 175% */
					display: flex;
					align-items: center;
					width: 538px;
					height: 63px;
					overflow: hidden;
					color: #FFFFFF;
				}
			}

			ul {
				padding-left: 2rem;
				list-style: inside;
				display: flex;
				align-items: flex-start;
				flex-direction: column;
				gap: 5px;


				li {
					height: 65px;
					overflow: hidden;
					font-family: 'Inter';
					font-style: normal;
					font-weight: 400;
					font-size: 18.0469px;
					line-height: 32px;
					text-align: center;

				}
			}

		}
	}

	.right {

		.rightCentent {
			height: 100%;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}

// revenue style

.revenue {
	display: flex;
	justify-content: space-around;
	padding: 1rem;

	@include phone {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	@include tablet {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.revenue_left {
		margin-top: 4rem;
		padding-left: 2rem;
		// width: 50%;

		@include phone {
			width: 100%;
		}

		@include tablet {
			width: 60%;
		}

		h2 {
			width: 447px;
			display: flex;
			align-items: flex-start;
			gap: 10px;
			flex-direction: column;
			height: 108px;
			font-family: 'Inter';
			font-style: normal;
			font-weight: 800;
			font-size: 36.875px;
			line-height: 45px;
			color: #1D1D1D;

			span {


				color: #013665;
			}
		}

		.revenuetext {
			margin-top: 1rem;
			width: 470px;
			overflow: hidden;
			padding: 0.5rem;

			span {

				font-family: 'Inter';
				font-style: normal;
				font-weight: 400;
				font-size: 22px !important;
				line-height: 24px;
				color: rgba(0, 0, 0, 0.6);

				@include tablet {
					font-size: 15px !important;
				}

				@include sm-desktop {
					font-size: 15px;
				}
			}
		}
	}

	.revenue_right {
		margin-top: 4rem;

		@include tablet {}

		@include phone {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		img {
			width: 100% !important;

			@include tablet {
				width: 100%;
				height: auto;
			}

			@include sm-desktop {
				background-color: crimson;
				width: 22rem;

			}
		}
	}
}


// row section style

.rowsection {
	background: #EEF0F6;
	padding: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 20px;

	@include phone {
		// background-color: #333f7f;
	}

	@include tablet {
		display: flex;
		justify-content: center;
	}

	h2 {
		font-family: 'Inter';
		font-style: normal;
		font-weight: 600;
		font-size: 20px !important;
		line-height: 45px;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: #161616;
		margin-bottom: 1rem;

		@include tablet {}

		@include phone {}
	}

	.elements {
		display: flex;
		gap: 20px;

		@include phone {
			display: flex;
			gap: 5px;
		}

		@include tablet {
			display: flex;
			gap: 5px;

		}

		@include sm-desktop {
			display: flex;
			justify-content: space-between;
			gap: 40px;
		}

		img {
			width: 70% !important;
			cursor: pointer;

			@include phone {
				width: 3rem;
			}

			@include tablet {
				width: 5rem;
			}

			@include sm-desktop {
				width: 5rem;
			}
		}
	}
}


// home product section

.homProduct {
	display: flex;
	margin-top: 2rem;
	gap: 30px;

	@include phone {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column-reverse;
	}

	.homeLeft {
		width: 60%;

		@include tablet {
			width: 75%;
		}

		@include phone {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		img {
			width: 100%;
			height: 100%;

			@include tablet {
				width: 97%;
				height: auto;
			}


			@include sm-desktop {
				height: auto;
			}
		}
	}

	.homeRight {
		width: 25%;
		margin-top: 2rem;
		margin-left: 3rem;

		@include tablet {
			width: 50%;
		}

		@include phone {
			width: 100%;
			margin-top: 1rem;
		}

		h2 {
			width: 447px;
			height: 108px;
			font-family: 'Inter';
			font-style: normal;
			font-weight: 700;
			font-size: 36.875px;
			line-height: 45px;
			color: #1D1D1D;

			span {
				color: #013665;
			}
		}

		.items {
			display: flex;
			flex-direction: column;
			gap: 20px;

			.item {
				display: flex;
				flex-direction: column;
				gap: 10px;

				h3 {
					font-family: 'Inter';
					font-style: normal;
					font-weight: 500;
					font-size: 25px;
					color: #000000;
				}

				p {
					width: 287px;
					height: 76px;
					font-family: 'Inter';
					font-style: normal;
					font-weight: 400;
					font-size: 13.867px;
					line-height: 19px;

					color: rgba(0, 0, 0, 0.6);
				}
			}
		}
	}
}

// help style

.help {
	background-color: rgb(174, 221, 239);
	padding: 2rem;



	@include sm-desktop {
		padding: 3rem;
	}

	.helpCentent {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;

		@include phone {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		.helpLeft {
			display: flex;
			flex-direction: column;
			gap: 10px;
			width: 50%;

			@include phone {
				width: 100%;
			}

			.item {
				padding: 1rem;
				display: flex;
				justify-content: space-between;
				border-top: 2px solid #d4d3d3;
				border-bottom: 2px solid #d4d3d3;

				span {
					width: 322px;
					height: 36px;
					font-family: 'Inter';
					font-style: normal;
					font-weight: 500;
					font-size: 20px;
					line-height: 36px;
					color: #000000;

					@include tablet {
						font-size: 13px !important;
					}

				}

				.iconPlus {
					background-color: #013665;
					border-radius: 50%;
					height: 1rem;
					width: 1rem;
					display: flex;
					align-items: center;
					justify-content: center;
					cursor: pointer;



					i {
						font-size: 9px;
						color: #fff;
					}
				}
			}

			.item1,
			.item2 {
				padding: 1rem;
				display: flex;
				justify-content: space-between;
				border-bottom: 2px solid #d4d3d3;

				span {
					width: 322px;
					height: 36px;
					font-family: 'Inter';
					font-style: normal;
					font-weight: 500;
					font-size: 20px;
					line-height: 36px;
					color: #000000;
					overflow: hidden;

					@include tablet {
						font-size: 13px !important;
					}


				}

				.iconPlus {
					background-color: #333f7f;
					border-radius: 50%;
					height: 1rem;
					width: 1rem;
					display: flex;
					align-items: center;
					justify-content: center;
					cursor: pointer;



					i {
						font-size: 9px;
						color: #fff;
					}
				}
			}

		}

		.helpRight {
			width: 50%;
			display: flex;
			flex-direction: column;
			gap: 10px;
			margin-left: 2rem;

			@include phone {
				width: 100%;

			}

			h3 {
				width: 487px;
				height: 108px;
				font-family: 'Inter';
				font-style: normal;
				font-weight: 500;
				font-size: 36px;
				line-height: 54px;
				text-transform: capitalize;

				@include tablet {
					font-size: 13px !important;
				}

				span {
					color: #333f7f;
				}
			}

			p {
				font-family: 'Inter';
				font-style: normal;
				font-weight: 500;
				font-size: 20px;
				line-height: 36px;
				color: rgba(0, 0, 0, 0.6);

				@include tablet {
					font-size: 13px !important;
				}
			}

			.search {
				display: flex;
				gap: 20px;

				@include phone {
					display: flex;
					align-items: center;
					gap: 5px;
					justify-content: center;
					width: 100%;
					flex-direction: column;
				}

				input {
					border-radius: 10px;
					border: none;
					padding: 0.2rem;
					width: 70%;

					@include tablet {
						width: 100%;
					}

					@include phone {
						height: 2rem;
						width: 85%;
					}

					&:focus {
						outline: none;
					}
				}

				button {
					background: #013665;
					color: #fff;
					border: none;
					padding: 1rem;
					border-radius: 20px;
					cursor: pointer;
					font-family: 'Inter';

					@include phone {
						font-size: 12px;
						height: 2rem;
						display: flex;
						align-items: center;
						justify-content: center;
						width: 7rem;
					}

					@include tablet {
						width: 40%;
					}
				}
			}
		}
	}
}


// group section

.groupsection {
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 1rem;
	font-family: 'Roboto', sans-serif;



	@include phone {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}


	.left {
		width: 50%;
		padding: 1rem;

		@include tablet {
			width: 60%;
		}

		@include phone {
			width: 100%;
		}

		.leftCentent {
			display: flex;
			flex-direction: column;
			gap: 20px;
			padding: 1rem;
			width: 100%;
			height: 100%;

			img {
				width: 100%;
				// object-fit: cover;
			}

			@include tablet {
				width: 100% !important;
				height: 100%;
				overflow: hidden;
			}
		}
	}

	.right {
		width: 50%;
		padding: 2rem;
		margin-left: 5rem;
		height: auto;
		display: flex;
		gap: 30px;
		flex-direction: column;

		@include tablet {
			// background-color: crimson;
		}

		@include phone {
			width: 100%;
			margin-left: 1rem;
		}

		.textTitle {
			font-family: 'Inter';
			font-style: normal;
			font-weight: 600;
			font-size: 26px;
			line-height: 54px;
			text-transform: capitalize;

			color: #000000;

			@include tablet {
				font-size: 13px !important;
				width: 100%;
			}

			@include phone {
				width: 100%;
				font-size: 12px;
			}


		}

		.textCenter {
			display: flex;
			gap: 20px;
			flex-direction: column;
			font-size: 19px !important;

			@include tablet {
				display: flex;
				gap: 10px;
				flex-direction: column;
				font-size: 12px;
			}

			.reting {
				display: flex;
				gap: 10px;
				flex-direction: column;

				span {
					font-style: normal;
					font-weight: 500;
					font-size: 22px;
					line-height: 140%;
					color: #000000;
					width: 297px;
					height: 31px;

					@include tablet {
						font-size: 12px;
					}
				}

				.startIcons {

					i {
						color: #FACC07;
					}
				}
			}

			.textDesc {
				width: 614px;
				height: 81px;
				padding: 0.4rem;

				@include phone {
					width: 100%;
				}

				@include tablet {
					width: 100%;
				}

				span {
					font-style: normal;
					font-weight: 500;
					font-size: 18px;
					line-height: 27px;
					letter-spacing: 0.02em;
					color: rgba(0, 0, 0, 0.5);
					font-family: 'Inter';


					@include phone {
						font-size: 10px;
					}

					@include tablet {
						font-size: 12px !important;

					}
				}
			}
		}

		.bottomSlide {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 80%;


			@include tablet {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-top: -1rem;
			}

			.bottomSlideleft {
				display: flex;
				align-items: center;
				justify-content: space-around;
				gap: 10px;

				@include tablet {
					width: 100% !important;
					overflow: hidden;
					display: flex;
					gap: 5px;
				}

				img {
					@include tablet {
						width: 4rem;
						height: 3rem;
						object-fit: fill;
					}
				}

				.textElment {
					@include tablet {
						display: flex;
						justify-content: center;
						flex-direction: column;
					}

					h2 {
						font-family: 'Inter';
						font-size: 13px;

						@include phone {
							font-size: 9px;
						}

						@include tablet {
							font-size: 10px;
						}
					}

					span {
						font-family: 'Inter';
						font-size: 13px !important;
						color: #808080;
					}
				}
			}

			.bottomSlideright {
				display: flex;
				justify-content: space-around;
				align-items: center;
				gap: 20px;

				@include tablet {
					gap: 10px;
				}



				i {
					background: rgba(196, 196, 196, 0.3);
					padding: 0.3rem;
					height: 1rem;
					width: 1rem;
					border-radius: 50%;
					font-size: 12px;
					display: flex;
					align-items: center;
					justify-content: center;
					cursor: pointer;

					@include tablet {
						font-size: 9px;
						display: flex;
						width: 0.8rem;
						height: 0.8rem;
					}
				}
			}
		}
	}
}

// footer style

.footer {
	background-color: #FAFAFA;
	padding: 2rem;

	.items {
		.itemTop {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.title {
				h2 {
					width: 110px;
					height: 24px;
					font-family: 'Inter';
					font-style: normal;
					font-weight: 600;
					font-size: 16px;
					line-height: 24px;
					display: flex;
					align-items: center;
					color: #000000;
				}
			}
		}

		.itemButtom {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 10px;

			.desc {
				width: 25%;

				.title {
					margin-bottom: 1rem;

					h2 {
						width: 110px;
						height: 24px;
						font-family: 'Inter';
						font-style: normal;
						font-weight: 600;
						font-size: 16px;
						line-height: 24px;
						display: flex;
						align-items: center;
						color: #000000;
					}
				}

				.element {
					display: flex;
					flex-direction: column;

					span {
						font-family: 'Inter';
						font-style: normal;
						font-weight: 400;
						font-size: 16px;
						line-height: 24px;
						display: flex;
						align-items: center;
						cursor: pointer;
						margin-bottom: 0.6rem;
						color: rgba(0, 0, 0, 0.5);
					}

					p {
						font-family: 'Inter';
						width: 15rem;
						font-style: normal;
						font-weight: 400;
						font-size: 16px;
						line-height: 24px;
						display: flex;
						align-items: center;
						margin-bottom: 0.6rem;
						color: rgba(0, 0, 0, 0.5);
					}
				}
			}
		}
	}

}
