* {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  * {
    overflow-x: hidden;
  }
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  * {
    overflow-x: hidden;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  * {
    overflow-x: hidden;
  }
}

/* navbar style  */
.topheader {
  background: url("./assets/div.hero-center.png") 50% 50% no-repeat;
  background-size: cover;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .topheader {
    background: url("./assets/div.hero-center.png") 100% 100% no-repeat;
    background-size: 100% 100%;
    width: 100%;
  }
}
.topheader .navbar {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  align-items: center;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .topheader .navbar {
    width: 100%;
  }
}
.topheader .navbar .left {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .topheader .navbar .left .lego {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.topheader .navbar .left .lego img {
  cursor: pointer;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .topheader .navbar .left .lego img {
    width: 3rem;
  }
}
.topheader .navbar .left .centerElement {
  display: flex;
  gap: 40px;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .topheader .navbar .left .centerElement {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
.topheader .navbar .left .centerElement span {
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .topheader .navbar .left .centerElement span {
    font-size: 8px;
  }
}
.topheader .navbar .right {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .topheader .navbar .right {
    display: flex;
    margin-right: 1.6rem;
  }
}
.topheader .navbar .right .loginbtn button {
  border: none;
  background-color: rgb(41, 97, 181);
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  padding: 0.5rem;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .topheader .navbar .right .loginbtn button {
    font-weight: 200;
    font-size: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.topheader .navbar .right .signupbtn button {
  padding: 0.5rem;
  width: 9rem;
  border-radius: 5px;
  border: 1px solid #111;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  font-weight: bold;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .topheader .navbar .right .signupbtn button {
    width: 4rem;
    font-weight: 200;
    font-size: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.topheader .navbar .right .signupbtn button i {
  font-size: 10px;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .topheader .navbar .right .signupbtn button i {
    font-size: 7px;
  }
}
.topheader .header {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .topheader .header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    gap: 15px;
  }
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .topheader .header .left {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .topheader .header .left {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
.topheader .header .left h1 {
  width: 15rem;
  height: auto;
  margin-bottom: 0.5rem;
  font-size: 65px;
  width: 100%;
  font-weight: 600;
  margin-bottom: 1rem;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .topheader .header .left h1 {
    font-size: 30px;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .topheader .header .left h1 {
    font-size: 14px;
  }
}
.topheader .header .left h1 small {
  color: rgb(41, 97, 181);
}
.topheader .header .left span {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0.5rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .topheader .header .left span {
    font-size: 9px;
  }
}
.topheader .header .left .loginbtn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0.5rem;
}
.topheader .header .left .loginbtn button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: 700;
  padding: 0.8rem;
  background-color: rgb(41, 97, 181);
  color: #fff;
  width: 9rem;
  font-size: 17px;
}
.topheader .header .right img {
  width: 90%;
  height: 100%;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .topheader .header .right img {
    width: 23rem;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .topheader .header .right img {
    height: 9rem;
  }
}

.main {
  display: flex;
  justify-content: space-around;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .main {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
}
.main .left {
  width: 50%;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .main .left {
    width: 70%;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .main .left {
    width: 100%;
  }
}
.main .left .leftCentent {
  padding: 4rem;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .main .left .leftCentent {
    width: 80% !important;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  .main .left .leftCentent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
.main .left .leftCentent .topElement span {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: rgb(41, 97, 181);
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .main .left .leftCentent .topElement span {
    font-size: 14px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  .main .left .leftCentent .topElement span {
    font-size: 16px;
  }
}
.main .left .leftCentent .topElement h2 {
  font-family: "Roboto", sans-serif;
  font-size: 40px !important;
  font-weight: 700;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .main .left .leftCentent .topElement h2 {
    font-size: 20px !important;
    font-weight: 500;
  }
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  .main .left .leftCentent .topElement h2 {
    font-size: 22px;
  }
}
.main .left .leftCentent .topElement p {
  font-family: "Roboto", sans-serif;
  padding-top: 0.4rem;
  font-size: 19px;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .main .left .leftCentent .topElement p {
    font-size: 12px;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .main .left .leftCentent .topElement p {
    font-weight: 300;
  }
}
.main .left .leftCentent .Element {
  padding: 1rem;
}
.main .left .leftCentent .Element ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  .main .left .leftCentent .Element ul {
    display: flex;
  }
}
.main .left .leftCentent .Element ul li {
  list-style: none;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main .left .leftCentent .Element ul li .listTop {
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 10px;
}
.main .left .leftCentent .Element ul li .listTop i {
  background-color: #d9c2e3;
  color: #5f4387;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 9px;
}
.main .left .leftCentent .Element ul li .listTop h1 {
  font-size: 17px;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .main .left .leftCentent .Element ul li .listTop h1 {
    font-size: 12px !important;
    font-weight: 500;
  }
}
.main .left .leftCentent .Element ul li p {
  font-size: 16px;
  padding-left: 1rem;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .main .left .leftCentent .Element ul li p {
    font-size: 11px !important;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .main .left .leftCentent .Element ul li p {
    font-weight: 300;
  }
}
.main .right {
  width: 50%;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .main .right {
    width: 60%;
    height: 100%;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .main .right {
    width: 100%;
  }
}
.main .right .rightCentenet {
  padding: 1rem;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .main .right .rightCentenet {
    width: 100%;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .main .right .rightCentenet {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  .main .right .rightCentenet {
    display: flex;
    justify-content: center;
  }
}
.main .right .rightCentenet img {
  width: 60%;
  padding: 1rem;
  height: 50%;
  object-fit: cover;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .main .right .rightCentenet img {
    width: 90%;
    height: 90%;
  }
}

.Commitments {
  background: url("./assets/Our Commitments.png") 50% 50% no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  height: 36vh;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .Commitments {
    background: url("./assets/Our Commitments.png") 100% 90% no-repeat;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 36vh;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .Commitments {
    background: url("./assets/Our Commitments.png") 100% 50% no-repeat;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100% !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  .Commitments {
    background: url("./assets/Our Commitments.png") 100% 90% no-repeat;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 36rem;
    width: 100%;
  }
}

.inner-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.inner-wrap .centent {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0.7rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  background-color: rgb(226, 225, 225);
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  .inner-wrap .centent {
    width: 60%;
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .inner-wrap .centent {
    width: 100%;
  }
}
.inner-wrap .centent span {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .inner-wrap .centent span {
    font-size: 10px;
    font-weight: 200;
  }
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  .inner-wrap .centent span {
    font-size: 17px;
  }
}
.inner-wrap .centent button {
  background-color: rgb(39, 77, 135);
  color: #fff;
  border: none;
  padding: 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .inner-wrap .centent button {
    font-size: 9px;
    padding: 5px;
    font-weight: 200;
  }
}

.section_break {
  background: url("./assets/sectionbreak_brandsafety.svg fill.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 36vh;
  width: 100%;
  background-color: #aa2fe7;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .section_break {
    height: 35vh !important;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .section_break {
    background: url("./assets/sectionbreak_brandsafety.svg fill.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 36vh;
    width: 100%;
    background-color: #aa2fe7;
    overflow: hidden;
    font-weight: 200;
  }
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  .section_break {
    height: 30rem;
    overflow: hidden;
    background-size: cover;
  }
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .section_break {
    height: 28vh;
  }
}
.section_break .cententbreak {
  padding: 1rem;
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  .section_break .cententbreak {
    padding: 2rem;
  }
}
.section_break .cententbreak h3 {
  padding-left: 2rem;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 32px !important;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .section_break .cententbreak h3 {
    font-size: 26px !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  .section_break .cententbreak h3 {
    font-size: 23px;
  }
}
.section_break .cententbreak ul {
  padding: 1rem;
  display: flex;
  margin-left: 3rem;
  flex-direction: column;
  color: #fff;
  font-family: "Roboto", sans-serif;
  gap: 20px;
}
.section_break .cententbreak ul li {
  font-size: 20px !important;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .section_break .cententbreak ul li {
    font-size: 13px !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  .section_break .cententbreak ul li {
    font-size: 15px;
  }
}

.solution {
  background-color: #333f7f;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 2rem;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .solution {
    padding: 0.5rem;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .solution {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.solution .left {
  width: 50%;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .solution .left {
    width: 50%;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .solution .left {
    width: 100%;
  }
}
.solution .left .leftCentent h4 {
  font-family: "Roboto", sans-serif;
  margin-bottom: 1rem;
  font-size: 42px !important;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .solution .left .leftCentent h4 {
    font-size: 27px !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  .solution .left .leftCentent h4 {
    font-size: 22px;
  }
}
.solution .left .leftCentent .textsolution {
  width: 20rem;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .solution .left .leftCentent .textsolution {
    font-weight: 300;
  }
}
.solution .left .leftCentent .textsolution span {
  font-family: "Roboto", sans-serif;
  font-size: 26px !important;
  width: 100%;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .solution .left .leftCentent .textsolution span {
    font-size: 13px !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  .solution .left .leftCentent .textsolution span {
    font-size: 15px;
  }
}
.solution .left .leftCentent ul {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  margin-top: 1rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: inside;
  font-size: 20px !important;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .solution .left .leftCentent ul {
    font-size: 13px !important;
    text-align: start;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .solution .left .leftCentent ul {
    font-weight: 200;
  }
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  .solution .left .leftCentent ul {
    font-size: 14px;
  }
}
.solution .right {
  width: 50%;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .solution .right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .solution .right .rightCentent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  .solution .right .rightCentent {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.solution .right .rightCentent img {
  width: 90% !important;
  height: auto;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .solution .right .rightCentent img {
    width: 90% !important;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .solution .right .rightCentent img {
    width: 20rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  .solution .right .rightCentent img {
    width: 27rem;
    height: auto;
  }
}

.revenue {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .revenue {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .revenue {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.revenue .revenue_left {
  margin-top: 4rem;
  padding-left: 2rem;
  width: 50%;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .revenue .revenue_left {
    width: 100%;
  }
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .revenue .revenue_left {
    width: 60%;
  }
}
.revenue .revenue_left h2 {
  font-family: "Roboto", sans-serif;
  font-size: 40px !important;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .revenue .revenue_left h2 {
    font-size: 16px !important;
  }
}
.revenue .revenue_left h2 span {
  color: #333f7f;
}
.revenue .revenue_left .revenuetext {
  margin-top: 1rem;
}
.revenue .revenue_left .revenuetext span {
  font-size: 23px !important;
  font-family: "Roboto", sans-serif;
  color: #767575;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .revenue .revenue_left .revenuetext span {
    font-size: 15px !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  .revenue .revenue_left .revenuetext span {
    font-size: 15px;
  }
}
.revenue .revenue_right {
  margin-top: 4rem;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .revenue .revenue_right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.revenue .revenue_right img {
  width: 100% !important;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .revenue .revenue_right img {
    width: 100%;
    height: auto;
  }
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  .revenue .revenue_right img {
    background-color: crimson;
    width: 22rem;
  }
}

.rowsection {
  background-color: lightgray;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .rowsection {
    display: flex;
    justify-content: center;
  }
}
.rowsection h2 {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .rowsection h2 {
    font-size: 13px !important;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .rowsection h2 {
    font-size: 9px;
  }
}
.rowsection .elements {
  display: flex;
  gap: 20px;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .rowsection .elements {
    display: flex;
    gap: 5px;
  }
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .rowsection .elements {
    display: flex;
    gap: 5px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  .rowsection .elements {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
}
.rowsection .elements img {
  width: 70% !important;
  cursor: pointer;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .rowsection .elements img {
    width: 3rem;
  }
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .rowsection .elements img {
    width: 5rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  .rowsection .elements img {
    width: 5rem;
  }
}

.homProduct {
  display: flex;
  margin-top: 2rem;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .homProduct {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
}
.homProduct .homeLeft {
  width: 75%;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .homProduct .homeLeft {
    width: 75%;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .homProduct .homeLeft {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.homProduct .homeLeft img {
  width: 90%;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .homProduct .homeLeft img {
    width: 97%;
    height: auto;
  }
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  .homProduct .homeLeft img {
    height: auto;
  }
}
.homProduct .homeRight {
  width: 25%;
  margin-top: 2rem;
  margin-left: -3rem;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .homProduct .homeRight {
    width: 50%;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .homProduct .homeRight {
    width: 100%;
    margin-top: 1rem;
  }
}
.homProduct .homeRight h2 {
  font-size: 35px !important;
  font-family: "Roboto", sans-serif;
  margin-bottom: 1rem;
  padding: 1rem;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .homProduct .homeRight h2 {
    font-size: 20px !important;
    margin: 0;
  }
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  .homProduct .homeRight h2 {
    font-size: 17px;
  }
}
.homProduct .homeRight h2 span {
  color: #333f7f;
}
.homProduct .homeRight .items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  gap: 20px;
  padding: 1rem;
}
.homProduct .homeRight .items .item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.homProduct .homeRight .items .item h3 {
  font-size: 28px !important;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .homProduct .homeRight .items .item h3 {
    font-size: 15px !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  .homProduct .homeRight .items .item h3 {
    font-size: 15px;
  }
}
.homProduct .homeRight .items .item p {
  font-size: 20px !important;
  color: #767575;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .homProduct .homeRight .items .item p {
    font-size: 12px !important;
  }
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  .homProduct .homeRight .items .item p {
    font-size: 14px;
  }
}

.help {
  background-color: rgb(174, 221, 239);
  padding: 2rem;
}
@media screen and (min-width: 769px) and (max-width: 1900px) {
  .help {
    padding: 3rem;
  }
}
.help .helpCentent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .help .helpCentent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.help .helpCentent .helpLeft {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .help .helpCentent .helpLeft {
    width: 100%;
  }
}
.help .helpCentent .helpLeft .item {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #d4d3d3;
  border-bottom: 2px solid #d4d3d3;
}
.help .helpCentent .helpLeft .item span {
  font-family: "Roboto", sans-serif;
  font-size: 19px !important;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .help .helpCentent .helpLeft .item span {
    font-size: 13px !important;
  }
}
.help .helpCentent .helpLeft .item .iconPlus {
  background-color: #333f7f;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.help .helpCentent .helpLeft .item .iconPlus i {
  font-size: 9px;
  color: #fff;
}
.help .helpCentent .helpLeft .item1,
.help .helpCentent .helpLeft .item2 {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #d4d3d3;
}
.help .helpCentent .helpLeft .item1 span,
.help .helpCentent .helpLeft .item2 span {
  font-family: "Roboto", sans-serif;
  font-size: 19px !important;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .help .helpCentent .helpLeft .item1 span,
  .help .helpCentent .helpLeft .item2 span {
    font-size: 13px !important;
  }
}
.help .helpCentent .helpLeft .item1 .iconPlus,
.help .helpCentent .helpLeft .item2 .iconPlus {
  background-color: #333f7f;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.help .helpCentent .helpLeft .item1 .iconPlus i,
.help .helpCentent .helpLeft .item2 .iconPlus i {
  font-size: 9px;
  color: #fff;
}
.help .helpCentent .helpRight {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 2rem;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .help .helpCentent .helpRight {
    width: 100%;
  }
}
.help .helpCentent .helpRight h3 {
  font-family: "Roboto", sans-serif;
  font-size: 24px !important;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .help .helpCentent .helpRight h3 {
    font-size: 13px !important;
  }
}
.help .helpCentent .helpRight h3 span {
  color: #333f7f;
}
.help .helpCentent .helpRight p {
  font-family: "Roboto", sans-serif;
  font-size: 17px !important;
  color: #808080;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .help .helpCentent .helpRight p {
    font-size: 13px !important;
  }
}
.help .helpCentent .helpRight .search {
  display: flex;
  gap: 20px;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .help .helpCentent .helpRight .search {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    width: 100%;
    flex-direction: column;
  }
}
.help .helpCentent .helpRight .search input {
  border-radius: 10px;
  border: none;
  padding: 0.2rem;
  width: 70%;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .help .helpCentent .helpRight .search input {
    width: 100%;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .help .helpCentent .helpRight .search input {
    height: 2rem;
    width: 85%;
  }
}
.help .helpCentent .helpRight .search input:focus {
  outline: none;
}
.help .helpCentent .helpRight .search button {
  background-color: rgb(39, 77, 135);
  color: #fff;
  border: none;
  padding: 1rem;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .help .helpCentent .helpRight .search button {
    font-size: 12px;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
  }
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .help .helpCentent .helpRight .search button {
    width: 40%;
  }
}

.groupsection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .groupsection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.groupsection .left {
  width: 50%;
  padding: 1rem;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .groupsection .left {
    width: 60%;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .groupsection .left {
    width: 100%;
  }
}
.groupsection .left .leftCentent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1rem;
  width: 100%;
  height: 100%;
}
.groupsection .left .leftCentent img {
  width: 100%;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .groupsection .left .leftCentent {
    width: 100% !important;
    height: 100%;
    overflow: hidden;
  }
}
.groupsection .right {
  width: 50%;
  padding: 2rem;
  margin-left: 5rem;
  height: auto;
  display: flex;
  gap: 30px;
  flex-direction: column;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .groupsection .right {
    width: 100%;
    margin-left: 1rem;
  }
}
.groupsection .right .textTitle {
  width: 50%;
  font-family: "Roboto", sans-serif;
  font-size: 25px !important;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .groupsection .right .textTitle {
    font-size: 13px !important;
    width: 100%;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .groupsection .right .textTitle {
    width: 100%;
    font-size: 12px;
  }
}
.groupsection .right .textCenter {
  display: flex;
  gap: 20px;
  flex-direction: column;
  font-size: 19px !important;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .groupsection .right .textCenter {
    display: flex;
    gap: 10px;
    flex-direction: column;
    font-size: 12px;
  }
}
.groupsection .right .textCenter .reting {
  display: flex;
  gap: 10px;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}
.groupsection .right .textCenter .reting span {
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .groupsection .right .textCenter .reting span {
    font-size: 12px;
  }
}
.groupsection .right .textCenter .reting .startIcons i {
  color: rgb(232, 239, 44);
}
.groupsection .right .textCenter .textDesc {
  width: 24rem;
  padding: 0.4rem;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .groupsection .right .textCenter .textDesc {
    width: 100%;
  }
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .groupsection .right .textCenter .textDesc {
    width: 100%;
  }
}
.groupsection .right .textCenter .textDesc span {
  color: #808080;
  font-size: 20px;
  font-weight: 200;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .groupsection .right .textCenter .textDesc span {
    font-size: 10px;
  }
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .groupsection .right .textCenter .textDesc span {
    font-size: 12px !important;
  }
}
.groupsection .right .bottomSlide {
  display: flex;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .groupsection .right .bottomSlide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -1rem;
  }
}
.groupsection .right .bottomSlide .bottomSlideleft {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .groupsection .right .bottomSlide .bottomSlideleft {
    width: 100% !important;
    overflow: hidden;
    display: flex;
    gap: 5px;
  }
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .groupsection .right .bottomSlide .bottomSlideleft img {
    width: 4rem;
    height: 3rem;
    object-fit: fill;
  }
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .groupsection .right .bottomSlide .bottomSlideleft .textElment {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
.groupsection .right .bottomSlide .bottomSlideleft .textElment h2 {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .groupsection .right .bottomSlide .bottomSlideleft .textElment h2 {
    font-size: 9px;
  }
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .groupsection .right .bottomSlide .bottomSlideleft .textElment h2 {
    font-size: 10px;
  }
}
.groupsection .right .bottomSlide .bottomSlideleft .textElment span {
  font-family: "Roboto", sans-serif;
  font-size: 13px !important;
  color: #808080;
}
.groupsection .right .bottomSlide .bottomSlideright {
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .groupsection .right .bottomSlide .bottomSlideright {
    gap: 10px;
  }
}
.groupsection .right .bottomSlide .bottomSlideright i {
  background-color: #e2e0e0;
  padding: 0.3rem;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .groupsection .right .bottomSlide .bottomSlideright i {
    font-size: 9px;
    display: flex;
    width: 0.8rem;
    height: 0.8rem;
  }
}

.footer {
  background-color: lightgray;
  padding: 2rem;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .footer {
    padding: 0.5rem;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .footer {
    padding: 0.3rem;
  }
}
.footer .copyRight {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: #808080;
  text-align: center;
  margin-top: 2rem;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .footer .copyRight {
    font-size: 9px;
  }
}
.footer .items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .footer .items {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.footer .items .item1 {
  display: flex;
  width: 25%;
  flex-direction: column;
  gap: 10px;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .footer .items .item1 {
    display: flex;
    width: 100%;
  }
}
.footer .items .item1 span {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: #808080;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .footer .items .item1 span {
    font-size: 13px !important;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .footer .items .item1 span {
    font-size: 9px;
  }
}
.footer .items .item1 img {
  width: 6rem;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .footer .items .item1 img {
    width: 4rem;
  }
}
.footer .items .item2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .footer .items .item2 {
    width: 100%;
    display: flex !important;
  }
}
.footer .items .item2 h2 {
  font-size: 15px;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .footer .items .item2 h2 {
    font-size: 13px !important;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .footer .items .item2 h2 {
    margin-top: 1.3rem;
    font-size: 10px;
  }
}
.footer .items .item2 ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .items .item2 ul li {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: #808080;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .footer .items .item2 ul li {
    font-size: 13px !important;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .footer .items .item2 ul li {
    font-size: 9px;
  }
}
.footer .items .item3 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .footer .items .item3 {
    width: 100%;
  }
}
.footer .items .item3 h2 {
  font-size: 15px;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .footer .items .item3 h2 {
    font-size: 13px !important;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .footer .items .item3 h2 {
    font-size: 10px;
  }
}
.footer .items .item3 ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .items .item3 ul li {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: #808080;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .footer .items .item3 ul li {
    font-size: 11px !important;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .footer .items .item3 ul li {
    font-size: 8px;
    width: 100%;
  }
}
.footer .items .item4 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .footer .items .item4 {
    width: 100%;
  }
}
.footer .items .item4 h2 {
  font-size: 15px;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .footer .items .item4 h2 {
    font-size: 13px !important;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .footer .items .item4 h2 {
    font-size: 10px;
  }
}
.footer .items .item4 span {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #808080;
}
@media screen and (min-width: 482px) and (max-width: 768px) {
  .footer .items .item4 span {
    font-size: 13px !important;
  }
}
@media screen and (min-width: 280px) and (max-width: 481px) {
  .footer .items .item4 span {
    font-size: 9px;
  }
}

/*# sourceMappingURL=style.css.map */
